body {
  font-family: "Style Script", cursive; /* Change to a romantic cursive font */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  margin: 0;
  background: hsla(311, 74%, 87%, 1);
  background: linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F6C4ED", endColorstr="#E1DAE6", GradientType=1 );;
  font-size: 35px;
}
.hh {
  font-weight: 900;
  color: #252525;
}
.pp {
  color: #252525;
  font-size: 50px;
  font-style: oblique;
  font-weight: 800;
}

body .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .Mainprompt{
  padding: 20px;
  border-radius: 30px;
  box-shadow: 10px 10px 10px 10px gray;

.image {
  max-width: 90%;
  height: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 10px gray;
  max-height: 280px;
}


#youtube-player {
  width: 100%;
  height: 100%;
}

#youtube-player-container {
  position: fixed;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

@media (max-width: 768px) {
  #youtube-player-container {
    width: 90vw;
    height: 50.625vw; /* 16:9 aspect ratio */
  }
}

@media (min-width: 769px) {
  #youtube-player-container {
    width: 700px;
    height: 394px; /* 16:9 aspect ratio */
  }
}

.buttons button {
  background-color:#786f80 ;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  margin: 10px;
  font-size: 26px;
  cursor: pointer;
  position: relative;
  font-family: "Style Script", cursive;
}

.buttons button:hover {
box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
background-color: #ee6b6e;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#no-button {
  cursor: pointer;
}

.hidden-message {
  display: none;
  margin-top: 20px;
}

.move {
  animation: moveNoMessage 0.5s linear;
}

@keyframes moveNoMessage {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30px, 30px);
  }
  50% {
    transform: translate(-20px, -20px);
  }
  75% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
